html{
    background-color: rgb(254, 255, 254);
}

body{
    margin: 0;
    padding: 0;
    display: flex;

}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

header{
    width: 30em;
    height: 100em;
    margin: 0;
    padding: 0;
}


main{
    width: 100em;
    height: 100em;
    margin: 0;
    padding: 0;
}

.container{
    margin: 0;
    margin-right: 0;
    padding: 0;
    width: 30vh;
    height: 100vh;
    background: linear-gradient(to bottom,#FAD7A1,#E96D71);
}

.container .logo{
    width: 100%;
    height: 25%;
}

.container .logo img{
    width: 150%;
    height: 150%;
    margin-left: -7vh;
    margin-top: -5vh;
    }

.container .nav{
    width: 100%;
    height: 50%;
}

.container .nav ul{
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0 1em;
    margin: 0;  
}

.container .nav ul li{
    margin: 0;
    padding: 15px;
}

.container .nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: black;
}

.container .nav ul li a:hover{
    color: rgb(250, 250, 250);
}

.container .inf_contacto{
    width: 100%;
    height: 25%;
}

.container .inf_contacto .text p{
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: .8rem;
    font-family: 'DM Sans', sans-serif;
}

.container .inf_contacto .social{
    font-size: 4vh;
    text-align: center;
}

.container .inf_contacto .social a{
    padding: 5px;
    text-decoration: none;
    color: black;
}